
body{

background:#050505;
color:#00ffc3;
font-family:Arial;
text-align:center;

}

h1{

font-size:50px;
margin-top:40px;
text-shadow:0 0 15px #00ffc3;

}

table{

margin:auto;
width:80%;
border-collapse:collapse;
margin-top:20px;

}

th,td{

border:1px solid #00ffc3;
padding:10px;

}

th{

background:#111;

}

input{

padding:12px;
font-size:16px;
width:300px;
margin-top:20px;

}

.request{

margin-top:50px;
font-size:20px;

}

.command{

color:#ff4444;
font-size:24px;

}

.example{

color:#ffaa00;

}
