body{
  background:#0b0b0b;
  color:#00ffcc;
  font-family:Arial;
  text-align:center;
}

h1{
  font-size:50px;
  margin-top:40px;
  text-shadow:0 0 20px #00ffc3;
}

input{
  padding:12px;
  font-size:16px;
  width:300px;
  margin:20px;
  border-radius:5px;
  border:2px solid #00ffcc;
  background:#111;
  color:#00ffcc;
}

table{
  margin:auto;
  width:90%;
  border-collapse:collapse;
}

th, td{
  border:1px solid #00ffcc;
  padding:10px;
}

th{
  background:#111;
}

tr:hover{
  background:#001f1f;
}

button{
  background:#ff5500;
  border:none;
  padding:6px 10px;
  color:white;
  cursor:pointer;
  border-radius:4px;
}

button:hover{
  background:#ff7700;
}
